{% extends 'layout.html.twig' %}

{% block content %}
    <!-- Page Header-->
    <div class="page-header no-margin-bottom">
        <div class="container-fluid">
            <h2 class="h5 no-margin-bottom">{{ title }}</h2>
        </div>
    </div>
    <!-- Breadcrumb-->
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path(home_path) }}">Home</a></li>
            <li class="breadcrumb-item active">{{ title }}</li>
        </ul>
    </div>
    <section class="no-padding-top">
        <div class="container-fluid">
            {% if person_photo.url is defined %}
                <div class="row mb-3">
                    <div class="col-12">
                        <div class="photo">
                            <img src="{{ person_photo.url }}" alt="Photo" class="img-thumbnail">
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="col-12 col-lg-8">
                    {{ form_start(form, {attr: {class: 'form-horizontal'}}) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}