{% extends 'layout.html.twig' %}

{% block content %}
    <!-- Page Header-->
    <div class="page-header no-margin-bottom">
        <div class="container-fluid">
            <h2 class="h5 no-margin-bottom">
                {{ participant.person }}
            </h2>
        </div>
    </div>
    <!-- Breadcrumb-->
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('participant_list') }}">Home</a></li>
            <li class="breadcrumb-item active">Activate participant</li>
        </ul>
    </div>
    <section class="participant-activate no-padding-top">
        <div class="container-fluid">
            <div class="block margin-bottom-sm">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-12 col-sm-2"><strong>Person:</strong></div>
                            <div class="col-12 col-sm-10">{{ participant.person }}</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-12 col-sm-2"><strong>Status:</strong></div>
                            <div class="col-12 col-sm-10">{{ status }}</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-12 col-sm-2"><strong>Event:</strong></div>
                            <div class="col-12 col-sm-10">{{ participant.event }}</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-12 col-sm-2"><strong>Team:</strong></div>
                            <div class="col-12 col-sm-10">
                                {% if participant.team is defined %}
                                    {{ participant.team }}
                                {% endif %}
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
{% endblock %}
