{% extends 'layout.html.twig' %}

{% form_theme form _self %}

{% block form_row -%}
    {%- set type = type|default('text') -%}

    {%- if expanded is defined and expanded -%}
        {{ block('fieldset_form_row') }}
    {%- else -%}
        {%- if type is defined and (type != 'file') %}
            <div class="form-group row{% if (not compound or force_error|default(false)) and not valid %} is-invalid{% endif %}">
                {{- form_label(form) -}}
                <div class="{{ block('form_group_class') }}">
                    {{- form_widget(form) -}}
                </div>
                {##}</div>
        {% else %}
            {{- form_widget(form) -}}
        {% endif %}
    {%- endif -%}
{%- endblock form_row %}

{% block content %}
    <!-- Page Header-->
    <div class="page-header no-margin-bottom">
        <div class="container-fluid">
            <h2 class="h5 no-margin-bottom">
                {{ participant.person }}
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <a href="{{ path('participant_edit', {'id': participant.id}) }}" class="btn btn-primary ml-3">Edit</a>
                {% endif %}
            </h2>
        </div>
    </div>
    <!-- Breadcrumb-->
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('participant_list') }}">Home</a></li>
            <li class="breadcrumb-item active">Activate participant</li>
        </ul>
    </div>
    <section class="participant-activate no-padding-top">
        <div class="container-fluid">
            <div class="block margin-bottom-sm">
                {{ block('flash') }}
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-12 col-sm-2"><strong>Person:</strong></div>
                            <div class="col-12 col-sm-10">{{ participant.person }}</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-12 col-sm-2"><strong>Status:</strong></div>
                            <div class="col-12 col-sm-10">{{ status }}</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-12 col-sm-2"><strong>Event:</strong></div>
                            <div class="col-12 col-sm-10">{{ participant.event }}</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-12 col-sm-2"><strong>Team:</strong></div>
                            <div class="col-12 col-sm-10">
                                {% if participant.team is defined %}
                                    {{ participant.team }}
                                {% endif %}
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-12 col-sm-2"><strong>Place:</strong></div>
                            <div class="col-12 col-sm-10">
                                {% if participant.team is defined %}
                                    {{ participant.team.place }}
                                {% endif %}
                            </div>
                        </div>
                    </li>
                    {% if participant.person.photo.url is defined %}
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-12 col-sm-2"><strong>Photo:</strong></div>
                                <div class="col-12 col-sm-10">
                                    <div class="photo">
                                        <img src="{{ participant.person.photo.url }}" alt="Photo" class="img-thumbnail">
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endif %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-12 col-sm-2"><strong>Update photo:</strong></div>
                            <div class="col-12 col-sm-10">
                                {{ form_start(form, {attr: {class: 'form-horizontal'}}) }}

                                <div class="mb-3">
                                    {{ form_widget(form) }}
                                </div>

                                <div class="mb-3">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>

                                {{ form_end(form) }}
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
{% endblock %}
