{% extends 'layout.html.twig' %}

{% form_theme filter_form _self %}

{% block form_label_class -%}
    col-sm-12
{%- endblock form_label_class %}

{% block content %}
    <!-- Page Header-->
    <div class="page-header no-margin-bottom">
        <div class="container-fluid">
            <h2 class="h5 no-margin-bottom">
                {{ title }}
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <a href="{{ path('person_new') }}" class="btn btn-primary ml-3">Add new</a>
                {% endif %}
            </h2>
        </div>
    </div>
    <!-- Breadcrumb-->
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('participant_list') }}">Home</a></li>
            <li class="breadcrumb-item active">{{ title }}</li>
        </ul>
    </div>
    <section class="no-padding-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-8">
                    {{ block('flash') }}
                </div>
            </div>
            <div class="block margin-bottom-sm">
                <a class="btn btn-primary btn" data-toggle="collapse"
                   href="#collapseFilter" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Display filter
                </a>
                <div class="collapse" id="collapseFilter">
                    {{ form_start(filter_form) }}
                    <div class="row mb-3">
                        <div class="col-12 col-sm-2">
                            {{ form_label(filter_form.employment) }}
                            {{ form_errors(filter_form.employment) }}
                            {{ form_widget(filter_form.employment) }}
                        </div>
                        <div class="col-12 col-sm-2">
                            {{ form_label(filter_form.internship) }}
                            {{ form_errors(filter_form.internship) }}
                            {{ form_widget(filter_form.internship) }}
                        </div>
                        <div class="col-12 col-sm-2">
                            {{ form_label(filter_form.isNotified) }}
                            {{ form_errors(filter_form.isNotified) }}
                            {{ form_widget(filter_form.isNotified) }}
                        </div>
                        <div class="col-12 col-sm-2">
                            {{ form_label(filter_form.isActive) }}
                            {{ form_errors(filter_form.isActive) }}
                            {{ form_widget(filter_form.isActive) }}
                        </div>
                        <div class="col-12 col-sm-4">
                            {{ form_label(filter_form.projectType) }}
                            {{ form_errors(filter_form.projectType) }}
                            {{ form_widget(filter_form.projectType) }}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-sm-3">
                            {{ form_label(filter_form.event) }}
                            {{ form_errors(filter_form.event) }}
                            {{ form_widget(filter_form.event) }}
                        </div>
                        <div class="col-12 col-sm-3">
                            {{ form_label(filter_form.team) }}
                            {{ form_errors(filter_form.team) }}
                            {{ form_widget(filter_form.team) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <a href="{{ path('participant_list') }}" class="btn btn-primary btn">Reset</a>
                            <button type="submit" id="person_participant_filter_filter"
                                    name="person_participant_filter[filter]"
                                    class="btn btn-primary btn ml-3">Filter
                            </button>
                        </div>
                    </div>
                    {{ form_end(filter_form) }}
                </div>
            </div>
            <div class="block margin-bottom-sm">
                {% if not items is empty %}
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                {#<th>Event</th>#}
                                <th>Last name</th>
                                <th>First name</th>
                                <th>Email</th>
                                <th>Phone number</th>
                                <th>Notified</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in items %}
                                    <th scope="row">{{ loop.index }}</th>
                                    {#<td>{{ item.event.title }}</td>#}
                                    <td>{{ item.person.lastname }}</td>
                                    <td>{{ item.person.firstname }}</td>
                                    <td>{{ item.person.email }}</td>
                                    <td>{{ item.person.phonenumber }}</td>
                                    <td>
                                        {{ item.isNotified ? 'Yes' : 'No' }}
                                    </td>
                                    <td>
                                        {{ item.isActive ? 'Activated' : 'Not activated' }}
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            {% set feedback = item.hasFeedbackByUser(app.user) %}

                                            {% if feedback %}
                                                <a href="{{ path('feedback_edit', {'id': feedback.id}) }}"
                                                   class="btn btn-sm btn-outline-secondary">
                                                    Edit Feedback
                                                </a>
                                            {% else %}
                                                <a href="{{ path('feedback_new', {'id': item.id}) }}"
                                                   class="btn btn-sm btn-outline-secondary">
                                                    New Feedback
                                                </a>
                                            {% endif %}

                                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                                <a href="{{ path('participant_show', {'id': item.id}) }}"
                                                   class="btn btn-sm btn-outline-secondary">
                                                    Detail
                                                </a>

                                                <a href="{{ path('participant_edit', {'id': item.id}) }}"
                                                   class="btn btn-sm btn-outline-secondary">
                                                    Edit
                                                </a>

                                                {% if item.isActive == false %}
                                                    <a href="{{ path('participant_activate', {'code': item.activationCode}) }}"
                                                       class="btn btn-sm btn-outline-secondary">
                                                        Activate
                                                    </a>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="pagination-wrapper">
                            {{ knp_pagination_render(items) }}
                        </div>
                    </div>
                {% else %}
                    {% include('admin/noItems.html.twig') %}
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}